# Elrond IDE
**/node_modules
**/output/**
**/testnet/**
**/wallets/**
**/erdpy.data-storage.json
**/*.interaction.json

# Distribution specific
cenarion_distro.json
cenarion_distro.pem
distribution.json

# Node artifact files
node_modules/
dist/

# Log files
*.log
